<div class="about-container">

    <h1>About Us..!&hearts;</h1>
    <div class="about-msg">
        <p> Give’s mission is to "make giving bigger and better". We are the most trusted giving platform in India. Through our technology solutions and services, we enable individuals and organizations to raise funds for, and donate to any cause they care about, with trust and convenience. Our community of 2.7M+ individual donors and 300+ organizations supports 3,000+ verified nonprofits, serving 15M+ people across the country.
        </p>
        <img src="assets/images/wall1.jpg" alt="">
    </div>
 </div>
 <app-footer></app-footer>
