
<div class="card-row">
    <!-- card 1 -->
    <div class="card" style="width: 18rem;">
        <img src="assets/images/wall.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Cloths</h5>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          <button type="button" routerLink="/donate" class="btn btn-primary">Donate Now</button>

        </div>
      </div>
    <!-- card 2 -->
    <div class="card" style="width: 18rem;">
        <img src="assets/images/photo1.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Education</h5>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          <button type="button" routerLink="/donations" class="btn btn-primary">Donate Now</button>


        </div>
      </div>
    <!-- card 3 -->
    <div class="card" style="width: 18rem;">
        <img src="assets/images/photo2.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Food</h5>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          <button type="button" routerLink="/donations" class="btn btn-primary">Donate Now</button>


        </div>
      </div>
  
</div>
<app-footer></app-footer>