<div class="background"></div>
<div class="container">
    <form id="form" action="adminPage.html">
        <h1>Admin Login</h1>
        <div class="userimg">
            <img src="assets/icons/ngo.png" alt="" srcset="">
        </div>
        <div class="input-control">
            <label for="username">User</label>
            <input id="username" name="username" type="text">
            <div class="error"></div>
        </div>
       
        <div class="input-control">
            <label for="password">Password</label>
            <input id="password" name="password" type="password">
            <div class="error"></div>
        </div>
        <button type="submit" routerLink="/admin-panel">Login </button>
        <div class="bottom-ps">
            <span><a href="">Create New User</a></span> <span><a href="">Forget Password</a></span></div>
        </form>
    

</div>
